.records {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    animation-duration: 1.5s;
    background-color: rgba(0, 0, 0, 0.603);
  }


  .records-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px;
    background-color: #ebeccfdb;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
.records--open {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
    width: 200px;
    border: 1px solid black;
}

.records__button {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px;
  color: #996c4a91;
  font-weight: bold;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

.records__button:hover {
  opacity: 0.6;
}

.records__button--close {
  position: absolute;
  top: 20px;
  right: 20px;
}