th {
  width: 200px;
  text-transform: uppercase;
  border: 2px solid var(--color-text-form);
  border-radius: 10px;
}

td {
  box-shadow: 0px 1px 1px var(--color-text-form);
  text-align: center;
  border-radius: 5px;
}

caption {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  text-shadow: 3px 3px var(--color-text-form);
}


.spinner {
  margin:  0 auto ;
  width: 70px;
  text-align: center;
}

.spinner--hidden {
  display: none;
}

.spinner__ball {
  width: 14px;
  height: 14px;
  background-color: var(--color-text-form);
  border-radius: 50%;
  display: inline-block;
  animation: showBall 1.4s infinite ease-in-out both;
}


@keyframes showBall {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}